html
  head
    title Student INFO
  body
    form(action='/formData', method='POST')
      div
        label(for='name') NAME:
        input(type='text', name='name', value='OMAR SULTAN')
      br
      div
        label(for='registrationNo') Registration Number:
        input(type='text', name='registrationNo', value='2018331077')
      br
      button(type='submit') Send my student information
